<a href="https://colab.research.google.com/github/Finch46/Finch46/blob/main/Stats_Assign_(Central_Tendency%26_Dispersion).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [32]:
import numpy as np
from scipy import stats
import pandas as pd
import random

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

np.random.normal(loc=0.0, scale=1.0, size=None)  #you need to modify this code.

loc will be equal to mean, scale will be equal to std deviation, size will be equal to sample size.

In [33]:
random.seed(10)
rand_num = [random.randint(0,1000) for i in range(1000)]
 
print(rand_num[0:1000])

[585, 33, 439, 494, 591, 15, 211, 473, 832, 503, 843, 284, 669, 830, 164, 35, 533, 501, 335, 77, 255, 975, 975, 763, 369, 45, 430, 880, 142, 617, 363, 390, 431, 290, 846, 691, 268, 467, 178, 702, 310, 677, 371, 136, 467, 786, 880, 245, 992, 450, 628, 384, 45, 596, 4, 241, 137, 199, 963, 931, 310, 549, 374, 790, 919, 245, 321, 682, 562, 461, 446, 481, 66, 668, 598, 332, 864, 513, 160, 862, 229, 993, 422, 244, 37, 32, 508, 308, 837, 621, 673, 73, 546, 946, 875, 82, 153, 393, 580, 968, 383, 934, 615, 153, 115, 986, 794, 791, 98, 452, 170, 826, 195, 970, 357, 443, 993, 424, 456, 251, 697, 281, 146, 632, 534, 182, 885, 122, 273, 466, 309, 168, 676, 664, 965, 840, 178, 796, 180, 491, 791, 355, 335, 445, 229, 5, 557, 729, 44, 339, 918, 327, 248, 81, 268, 458, 414, 596, 162, 399, 942, 890, 507, 689, 914, 247, 753, 537, 932, 278, 532, 494, 616, 511, 64, 170, 501, 690, 472, 919, 410, 139, 430, 554, 598, 357, 551, 397, 501, 718, 169, 572, 451, 101, 991, 997, 425, 848, 36, 892, 2, 449, 548, 66, 51, 358, 94, 155, 111, 622, 464, 853, 818, 496, 142, 469, 882, 446, 793, 513, 944, 457, 351, 743, 265, 919, 807, 714, 469, 433, 336, 665, 532, 931, 535, 157, 757, 243, 330, 633, 33, 703, 200, 658, 926, 602, 589, 849, 643, 490, 25, 826, 119, 985, 303, 445, 871, 879, 252, 735, 296, 910, 91, 47, 611, 935, 563, 785, 985, 108, 836, 292, 166, 686, 488, 144, 369, 609, 410, 941, 805, 196, 358, 186, 81, 605, 199, 436, 212, 98, 700, 315, 908, 985, 474, 883, 761, 769, 711, 847, 534, 739, 433, 458, 680, 761, 568, 213, 272, 611, 373, 118, 642, 801, 642, 7, 214, 434, 624, 418, 895, 391, 892, 831, 667, 204, 71, 790, 433, 816, 91, 843, 56, 356, 260, 368, 467, 434, 777, 198, 643, 767, 289, 477, 711, 301, 518, 511, 519, 929, 269, 414, 452, 654, 349, 357, 743, 283, 494, 927, 457, 873, 488, 601, 491, 85, 706, 552, 737, 375, 820, 739, 414, 932, 812, 172, 987, 617, 425, 737, 577, 67, 609, 867, 751, 856, 313, 16, 605, 335, 667, 329, 75, 758, 406, 624, 382, 289, 620, 190, 246, 172, 315, 97, 569, 809, 836, 958, 54, 225, 583, 762, 75, 973, 431, 196, 583, 585, 449, 936, 998, 823, 890, 607, 16, 401, 206, 347, 868, 909, 588, 195, 535, 955, 829, 577, 782, 789, 977, 855, 334, 891, 48, 673, 708, 592, 51, 37, 578, 374, 880, 957, 406, 332, 615, 653, 175, 791, 161, 120, 620, 808, 885, 353, 168, 31, 740, 943, 549, 523, 824, 357, 90, 406, 449, 591, 902, 356, 61, 149, 946, 886, 455, 723, 482, 624, 462, 739, 452, 618, 179, 362, 843, 433, 842, 844, 351, 978, 572, 525, 469, 397, 199, 99, 443, 656, 156, 42, 954, 880, 191, 655, 649, 194, 583, 439, 998, 931, 812, 922, 368, 572, 385, 983, 51, 619, 53, 169, 318, 979, 972, 228, 50, 593, 180, 102, 651, 578, 369, 856, 190, 309, 970, 870, 43, 405, 612, 781, 439, 79, 353, 777, 199, 503, 166, 172, 415, 828, 770, 986, 479, 963, 795, 336, 899, 38, 177, 853, 900, 180, 595, 723, 430, 156, 525, 657, 911, 713, 401, 992, 96, 406, 982, 832, 121, 240, 109, 432, 739, 654, 318, 740, 296, 546, 665, 869, 912, 101, 353, 853, 928, 534, 634, 486, 622, 250, 545, 297, 12, 681, 161, 986, 693, 395, 710, 234, 99, 522, 652, 780, 485, 102, 590, 927, 408, 596, 223, 294, 363, 71, 992, 903, 193, 637, 882, 571, 543, 26, 76, 409, 830, 32, 17, 668, 857, 440, 346, 853, 940, 182, 744, 48, 367, 332, 640, 487, 806, 175, 19, 210, 130, 296, 982, 840, 206, 252, 927, 252, 395, 629, 558, 598, 609, 428, 894, 564, 779, 31, 128, 5, 126, 28, 858, 56, 702, 789, 785, 182, 127, 709, 394, 69, 14, 677, 444, 756, 677, 187, 639, 431, 923, 48, 564, 173, 54, 719, 385, 592, 470, 466, 343, 190, 35, 408, 642, 470, 500, 975, 726, 730, 373, 681, 72, 142, 271, 259, 180, 93, 471, 13, 157, 284, 80, 931, 537, 315, 144, 785, 107, 549, 123, 294, 722, 633, 826, 342, 829, 3, 589, 265, 650, 955, 771, 529, 437, 896, 521, 149, 730, 60, 649, 57, 623, 61, 661, 216, 548, 14, 219, 150, 313, 881, 707, 862, 428, 154, 879, 27, 383, 528, 685, 727, 118, 489, 306, 475, 871, 474, 179, 925, 640, 144, 28, 412, 623, 157, 462, 672, 920, 717, 845, 837, 791, 183, 346, 518, 685, 480, 158, 44, 501, 604, 398, 170, 480, 718, 280, 216, 506, 532, 361, 669, 983, 576, 787, 975, 875, 569, 388, 152, 912, 657, 975, 324, 756, 961, 324, 133, 56, 468, 54, 689, 342, 992, 540, 534, 49, 389, 624, 794, 941, 805, 83, 935, 714, 738, 36, 130, 34, 10, 953, 374, 445, 226, 675, 489, 854, 579, 938, 677, 740, 958, 92, 105, 69, 982, 375, 827, 466, 438, 318, 181, 767, 129, 782, 645, 409, 556, 714, 553, 197, 697, 974, 763, 247, 736, 159, 858, 391, 223, 883, 527, 612, 501, 702, 849, 837, 679, 395, 807, 982, 195, 69, 548, 746, 767, 158, 874, 620, 605, 551, 133, 73, 672, 405, 466, 90, 874, 971, 214, 960, 12, 465, 183, 680, 174, 375, 393, 647, 212, 253, 341, 306, 603, 265, 158, 60, 496, 426, 364, 349, 5, 333, 690, 300, 513, 919, 794, 715, 897, 602, 49, 416, 731, 290, 470, 174, 895, 844, 118, 912, 858, 428, 439, 94, 123, 473, 165, 898, 811, 75, 839, 387, 544, 82, 977, 7, 532, 846, 741, 563, 266, 584, 494, 920, 885, 87, 431, 967, 118]

Compute the **mean**, **median**, and **mode**

In [34]:
rand_mean= np.mean(rand_num)
print("mean:", rand_mean)
rand_median = np.median(rand_num)
print("median:", rand_median)
rand_mode = stats.mode(rand_num)
print("mode:", rand_mode)

mean: 499.242
median: 491.0
mode: ModeResult(mode=array([501]), count=array([5]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [35]:
np.percentile(rand_num, 25)

249.5

In [36]:
np.percentile(rand_num, 75)

740.0

In [37]:
np.percentile(rand_num, 75) - np.percentile(rand_num, 25)

490.5

In [40]:
stats.iqr(rand_num)

490.5

In [39]:
print("minimum: ", min(rand_num))
print("maximum: ", max(rand_num))

minimum:  2
maximum:  998

In [42]:
np.var(rand_num)

82747.84343600001

In [43]:
np.std(rand_num)

287.6592488274973

In [45]:
from scipy. stats import skew

In [49]:
from scipy. stats import kurtosis

In [46]:
print(skew(rand_num))

0.00356384763032434

In [53]:
kurtosis(rand_num, bias=False)

-1.158634460770585

Compute the **variance** and **standard deviation**

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [79]:
 x = np.arange(start=10, stop=20)
 x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [80]:
y = np.array([3,6,4,2,5,9,7,1,7,4])
y

array([3, 6, 4, 2, 5, 9, 7, 1, 7, 4])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [75]:
from scipy.stats.stats import pearsonr

In [81]:
stats.pearsonr(x,y)

(0.1476507406862616, 0.6839637131477981)

## Pandas Correlation Calculation

Run the code below

In [82]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [84]:
r = stats.pearsonr(x,y)
r

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [86]:
rho = stats.spearmanr(x,y)
rho

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [87]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [89]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [91]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [92]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [93]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [94]:


from numpy.random import randn
from numpy.random import seed
from scipy.stats import pearsonr

seed(1)

data1 = 20 * randn(1000) + 100
data2 = data1 + (10 * randn(1000) + 50)

corr, _ = pearsonr(data1, data2)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.888