<a href="https://colab.research.google.com/github/Finch46/Finch46/blob/main/Stats_Assign_(Central_Tendency%26_Dispersion)_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [2]:
import numpy as np
from scipy import stats
import pandas as pd
import random

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

np.random.normal(loc=0.0, scale=1.0, size=None)  #you need to modify this code.

loc will be equal to mean, scale will be equal to std deviation, size will be equal to sample size.

In [3]:
random.seed(10)
rand_num = [random.randint(0,1000) for i in range(1000)]
 
print(rand_num[0:1000])

[585, 33, 439, 494, 591, 15, 211, 473, 832, 503, 843, 284, 669, 830, 164, 35, 533, 501, 335, 77, 255, 975, 975, 763, 369, 45, 430, 880, 142, 617, 363, 390, 431, 290, 846, 691, 268, 467, 178, 702, 310, 677, 371, 136, 467, 786, 880, 245, 992, 450, 628, 384, 45, 596, 4, 241, 137, 199, 963, 931, 310, 549, 374, 790, 919, 245, 321, 682, 562, 461, 446, 481, 66, 668, 598, 332, 864, 513, 160, 862, 229, 993, 422, 244, 37, 32, 508, 308, 837, 621, 673, 73, 546, 946, 875, 82, 153, 393, 580, 968, 383, 934, 615, 153, 115, 986, 794, 791, 98, 452, 170, 826, 195, 970, 357, 443, 993, 424, 456, 251, 697, 281, 146, 632, 534, 182, 885, 122, 273, 466, 309, 168, 676, 664, 965, 840, 178, 796, 180, 491, 791, 355, 335, 445, 229, 5, 557, 729, 44, 339, 918, 327, 248, 81, 268, 458, 414, 596, 162, 399, 942, 890, 507, 689, 914, 247, 753, 537, 932, 278, 532, 494, 616, 511, 64, 170, 501, 690, 472, 919, 410, 139, 430, 554, 598, 357, 551, 397, 501, 718, 169, 572, 451, 101, 991, 997, 425, 848, 36, 892, 2, 449, 548, 66, 51, 358, 94, 155, 111, 622, 464, 853, 818, 496, 142, 469, 882, 446, 793, 513, 944, 457, 351, 743, 265, 919, 807, 714, 469, 433, 336, 665, 532, 931, 535, 157, 757, 243, 330, 633, 33, 703, 200, 658, 926, 602, 589, 849, 643, 490, 25, 826, 119, 985, 303, 445, 871, 879, 252, 735, 296, 910, 91, 47, 611, 935, 563, 785, 985, 108, 836, 292, 166, 686, 488, 144, 369, 609, 410, 941, 805, 196, 358, 186, 81, 605, 199, 436, 212, 98, 700, 315, 908, 985, 474, 883, 761, 769, 711, 847, 534, 739, 433, 458, 680, 761, 568, 213, 272, 611, 373, 118, 642, 801, 642, 7, 214, 434, 624, 418, 895, 391, 892, 831, 667, 204, 71, 790, 433, 816, 91, 843, 56, 356, 260, 368, 467, 434, 777, 198, 643, 767, 289, 477, 711, 301, 518, 511, 519, 929, 269, 414, 452, 654, 349, 357, 743, 283, 494, 927, 457, 873, 488, 601, 491, 85, 706, 552, 737, 375, 820, 739, 414, 932, 812, 172, 987, 617, 425, 737, 577, 67, 609, 867, 751, 856, 313, 16, 605, 335, 667, 329, 75, 758, 406, 624, 382, 289, 620, 190, 246, 172, 315, 97, 569, 809, 836, 958, 54, 225, 583, 762, 75, 973, 431, 196, 583, 585, 449, 936, 998, 823, 890, 607, 16, 401, 206, 347, 868, 909, 588, 195, 535, 955, 829, 577, 782, 789, 977, 855, 334, 891, 48, 673, 708, 592, 51, 37, 578, 374, 880, 957, 406, 332, 615, 653, 175, 791, 161, 120, 620, 808, 885, 353, 168, 31, 740, 943, 549, 523, 824, 357, 90, 406, 449, 591, 902, 356, 61, 149, 946, 886, 455, 723, 482, 624, 462, 739, 452, 618, 179, 362, 843, 433, 842, 844, 351, 978, 572, 525, 469, 397, 199, 99, 443, 656, 156, 42, 954, 880, 191, 655, 649, 194, 583, 439, 998, 931, 812, 922, 368, 572, 385, 983, 51, 619, 53, 169, 318, 979, 972, 228, 50, 593, 180, 102, 651, 578, 369, 856, 190, 309, 970, 870, 43, 405, 612, 781, 439, 79, 353, 777, 199, 503, 166, 172, 415, 828, 770, 986, 479, 963, 795, 336, 899, 38, 177, 853, 900, 180, 595, 723, 430, 156, 525, 657, 911, 713, 401, 992, 96, 406, 982, 832, 121, 240, 109, 432, 739, 654, 318, 740, 296, 546, 665, 869, 912, 101, 353, 853, 928, 534, 634, 486, 622, 250, 545, 297, 12, 681, 161, 986, 693, 395, 710, 234, 99, 522, 652, 780, 485, 102, 590, 927, 408, 596, 223, 294, 363, 71, 992, 903, 193, 637, 882, 571, 543, 26, 76, 409, 830, 32, 17, 668, 857, 440, 346, 853, 940, 182, 744, 48, 367, 332, 640, 487, 806, 175, 19, 210, 130, 296, 982, 840, 206, 252, 927, 252, 395, 629, 558, 598, 609, 428, 894, 564, 779, 31, 128, 5, 126, 28, 858, 56, 702, 789, 785, 182, 127, 709, 394, 69, 14, 677, 444, 756, 677, 187, 639, 431, 923, 48, 564, 173, 54, 719, 385, 592, 470, 466, 343, 190, 35, 408, 642, 470, 500, 975, 726, 730, 373, 681, 72, 142, 271, 259, 180, 93, 471, 13, 157, 284, 80, 931, 537, 315, 144, 785, 107, 549, 123, 294, 722, 633, 826, 342, 829, 3, 589, 265, 650, 955, 771, 529, 437, 896, 521, 149, 730, 60, 649, 57, 623, 61, 661, 216, 548, 14, 219, 150, 313, 881, 707, 862, 428, 154, 879, 27, 383, 528, 685, 727, 118, 489, 306, 475, 871, 474, 179, 925, 640, 144, 28, 412, 623, 157, 462, 672, 920, 717, 845, 837, 791, 183, 346, 518, 685, 480, 158, 44, 501, 604, 398, 170, 480, 718, 280, 216, 506, 532, 361, 669, 983, 576, 787, 975, 875, 569, 388, 152, 912, 657, 975, 324, 756, 961, 324, 133, 56, 468, 54, 689, 342, 992, 540, 534, 49, 389, 624, 794, 941, 805, 83, 935, 714, 738, 36, 130, 34, 10, 953, 374, 445, 226, 675, 489, 854, 579, 938, 677, 740, 958, 92, 105, 69, 982, 375, 827, 466, 438, 318, 181, 767, 129, 782, 645, 409, 556, 714, 553, 197, 697, 974, 763, 247, 736, 159, 858, 391, 223, 883, 527, 612, 501, 702, 849, 837, 679, 395, 807, 982, 195, 69, 548, 746, 767, 158, 874, 620, 605, 551, 133, 73, 672, 405, 466, 90, 874, 971, 214, 960, 12, 465, 183, 680, 174, 375, 393, 647, 212, 253, 341, 306, 603, 265, 158, 60, 496, 426, 364, 349, 5, 333, 690, 300, 513, 919, 794, 715, 897, 602, 49, 416, 731, 290, 470, 174, 895, 844, 118, 912, 858, 428, 439, 94, 123, 473, 165, 898, 811, 75, 839, 387, 544, 82, 977, 7, 532, 846, 741, 563, 266, 584, 494, 920, 885, 87, 431, 967, 118]

In [4]:
np.random.normal(loc=100.0, scale=10.0, size=1000)

array([ 85.78507602, 103.48461278,  99.34995951,  93.33824156,
       117.77106678,  98.42486054,  92.10004949,  92.45915729,
        92.75884472, 106.20134095,  99.57840557, 105.11281881,
        97.57892565, 111.35962477, 109.96039358,  92.84516027,
       113.51553457,  96.29218495,  95.46978991, 103.88057657,
       110.2405547 ,  85.60038598,  96.47684255, 118.31647154,
        97.2784454 , 105.15706254,  99.77137641, 106.4399418 ,
        87.49950248,  91.6612912 , 109.99883746, 100.91628533,
       101.53801509, 107.11991692, 116.09562032,  92.35788264,
       100.39716672, 109.30260111,  91.37346904, 118.24856909,
        89.45067227, 111.8693301 ,  91.96013397,  94.4330154 ,
       106.35230089,  93.13688925, 104.80781909, 107.42503143,
       123.87523509,  96.63544863,  97.78912906, 106.70656286,
        83.38739886, 113.89140071,  92.98828266, 102.61587977,
        99.46202565,  99.06068328,  87.58337066,  99.92535471,
        99.70090477, 100.56075682, 112.62995012, 100.77925094,
       106.47830131, 124.67258821,  97.24224232, 105.87888484,
       101.10387226,  87.46586131, 115.01400569,  97.82106381,
       101.15561591, 102.69334709,  97.1928985 ,  80.33469133,
       113.56184129,  92.97134562, 106.02441303, 100.91090839,
       113.65014302,  99.02362682, 108.32386863, 111.07859129,
       109.13624301, 112.00796898,  91.20075002,  98.59093118,
       109.84768099, 103.94583481, 111.30661045,  82.84197923,
       113.49624986,  97.07894299, 110.04668885, 100.10783657,
       108.40815672, 103.80516055, 107.61398028, 103.67471826,
       106.85805501,  98.02587575,  92.79548218,  98.25376284,
       103.88355414, 104.96209039, 109.2875239 ,  82.45708571,
        97.65299484,  92.01567389, 104.63476276,  77.85022307,
       111.76178585,  95.99416959, 108.09284091,  92.0147891 ,
       117.79994025, 110.14741417, 108.21869835, 104.48813092,
        96.17022887, 119.3371079 ,  90.95196917,  91.47769874,
       103.15384   , 107.48362656, 115.50169954, 109.42939024,
        96.87637273, 105.62023558,  91.74736242,  87.26019936,
       109.30998337, 103.79027224,  90.42178936, 102.40054939,
        78.47146662,  91.27052961,  90.64640868, 108.22480782,
       116.28564007,  97.24722851, 101.8598845 ,  88.26934047,
        96.40163433, 103.64211483, 114.84090213,  88.83033694,
        86.3720823 ,  84.73190428,  96.39922661,  97.76820619,
        83.00132715,  92.629449  , 100.39504365,  88.47202574,
        91.42218255, 101.39748409, 113.87929911, 101.9924466 ,
       107.30235658, 108.87322271,  89.94224611, 102.38532135,
       102.91046086,  81.04976983,  96.59188551, 100.6997207 ,
        99.9907938 ,  94.68652415, 101.07686344,  91.82842589,
       104.61638203,  97.21726775,  98.60882484, 100.65501104,
        95.40436452,  97.26383557, 108.99985973, 114.93131807,
        92.88341194,  95.99581064,  87.22002557, 102.74845486,
       102.96981687, 102.74825464, 112.74604645,  97.1788739 ,
        91.36514782, 113.45445659,  95.04829842,  88.8576715 ,
       106.31602241,  83.87563761,  92.08288212, 104.4209748 ,
        94.14081723,  77.29126851, 101.62271692,  96.66129383,
        98.60064506, 115.86838029, 109.14328036,  97.88752571,
        97.24848798, 106.22956368, 104.24506681,  90.5731229 ,
        84.55206598,  99.83482232,  91.3102543 ,  92.76747699,
        89.06191079, 106.96090374, 110.44502619,  95.84057997,
        85.85970033, 113.75974444,  93.54582554,  97.19061117,
       107.40995794,  96.53426202, 104.02449115, 113.63345322,
       102.40537787, 103.74767689,  99.06959522,  99.37900279,
        97.97468916, 109.69547667, 104.66074006,  93.04945306,
       108.67515729, 104.39990186,  87.08130933,  98.5289546 ,
       118.83412827,  89.51997555, 105.73119501, 116.52471118,
        88.5922597 ,  80.63580351, 104.47963061,  82.60901534,
       117.60062917,  92.51980352,  93.07230998, 106.06211057,
        83.88865213,  92.92859091, 110.70204858, 116.82290923,
        92.17517428,  99.86788592,  94.69009778, 100.12456474,
        86.07325547,  97.13357569, 102.27027516,  76.75495395,
        87.8144443 , 115.74359932,  96.00556494, 108.58653511,
        99.1957432 , 108.48705343, 120.79083394,  95.26114536,
       103.23153722, 100.27533953, 101.14075263,  96.06541466,
        93.37308327,  67.82138449,  79.54649502, 103.95354042,
       112.47607887,  99.69931626, 106.31421007,  98.06657446,
       113.17480436, 101.90679836,  90.09810677,  88.58865872,
       111.60749908,  98.25186245, 115.67421245,  97.81850466,
       107.34302295, 106.81152337,  78.23907319, 106.3652011 ,
       112.87855604, 106.30618979,  98.30260769, 113.90329791,
       114.89899787, 101.22691838,  91.43266684,  98.18929769,
        94.52902657, 109.82883086,  96.5245025 ,  95.94804598,
        98.28797409,  94.82781066,  99.46038728,  97.12778168,
       106.27695595, 101.30843094,  92.91884313, 112.87644558,
       111.49123949, 112.64928336,  88.59581091,  98.84722125,
        88.57564105, 103.2385769 , 100.21889115, 100.74559438,
        99.93249706, 102.7311925 ,  89.50519825,  94.56209168,
       110.34800756, 105.79267625, 118.57991463, 116.24219626,
       106.27867856, 105.43671456,  83.50347926,  95.42940745,
        96.46970361, 100.26828592, 105.44961336, 110.70885718,
        91.25504966,  86.5614565 ,  83.59360281,  88.22712399,
        90.13790029, 115.12284672, 115.28509441, 102.30964781,
       117.5657367 , 102.51278089,  91.84275434, 109.42411702,
       100.90216822, 100.41664866,  87.04467464,  99.8087179 ,
       125.59670312,  92.62865635, 109.01385809, 114.40092387,
        94.64694395, 105.32534216,  86.0390849 , 105.49457952,
        91.69672261, 100.15992958,  97.01974599,  89.03780221,
        84.79264931, 102.70650281,  99.51148295,  86.19078026,
       103.22361871,  90.73382019,  91.11522005,  94.70404307,
        96.59459878, 108.29299719,  85.91552231, 122.33617238,
        86.30385772, 103.4725651 , 121.25701079,  92.9104904 ,
       116.6916512 ,  97.77536474, 111.15244915,  86.08245253,
       106.94456147,  93.85630519,  96.64098403, 101.02137232,
        92.35110511,  99.15186548,  89.3650144 , 107.02033874,
       112.68332549, 110.74973295, 101.14505795, 111.01055907,
       100.28434088,  95.34734926,  91.18356977,  99.33174478,
       104.24381232,  98.85241241, 107.19165382, 107.13605668,
       101.2767911 ,  98.52579686,  72.95198884,  97.28288395,
        98.64309361, 117.44784525,  96.17836386,  90.40334264,
        89.60802529, 117.88569902, 119.86345618, 100.17250323,
       117.79389329,  98.75232766, 118.21437168,  88.94768174,
        85.53462714,  87.62363653, 112.29509528,  91.61606642,
       112.66122636, 106.6511267 , 100.55645863,  91.1578875 ,
       102.24256026,  79.6562174 ,  89.01502461, 106.25604468,
       106.5360482 ,  93.15114172,  83.87760283, 107.77052793,
       109.28474897,  99.03890263, 107.32024984, 101.83188627,
       114.57948003, 103.60973379,  89.88233087,  71.88888722,
       104.44829512, 117.18670551, 104.483788  , 118.80400288,
       110.87604707,  94.42400808, 104.41471618,  98.41861074,
       110.00261867, 114.17875945, 106.47693386, 110.73068655,
        97.09104446,  99.40351975, 102.23402804,  75.28052224,
       104.05628635,  87.34293665, 112.87106343, 102.60116175,
        91.073952  , 107.67300538, 112.24843264,  87.06697484,
       104.52980032,  86.49548127,  98.37050076, 106.28780191,
       103.15936157, 103.57086309,  92.81519709,  80.42420708,
       113.00941073,  86.86661874,  93.95930437,  88.20158316,
        99.03690198, 104.19773783, 106.11986983,  91.60270906,
       105.71800367,  96.33122257, 119.40546361,  89.41558811,
        88.91302435,  94.44256254,  98.45660595, 105.7947165 ,
       106.96558684,  80.96181255, 108.0271679 , 108.76255546,
       102.80782433, 101.92695845, 108.03901505,  91.7548597 ,
       106.44914918, 112.05419177, 108.07005349, 108.37961829,
       105.80983604,  92.41506907, 103.08785799, 101.89583053,
        97.72979653, 118.77257175,  99.96496218,  82.80022918,
       116.51369759,  97.29043872,  99.72150433,  77.39025544,
       112.67074508,  98.35130163, 107.48834694, 104.22608054,
        95.10691588,  89.54162533, 106.85718317,  85.16246471,
        91.56464083,  90.1298263 ,  94.22632507, 107.53484163,
       101.94563227, 102.66020551, 101.0710848 , 103.6909246 ,
        79.93448193, 102.54043294, 104.06462636, 119.95111198,
        88.09588154, 100.27029544,  89.28548607,  82.0402907 ,
        99.30946253, 117.97665071, 103.43682954,  95.33889912,
        97.74857829,  96.25475561, 107.11472875,  97.02640178,
       111.39057253, 101.77814938, 100.11460872,  96.91481874,
        80.2960268 ,  89.56693143, 108.61432395,  91.20604847,
       101.46198501,  90.68480632, 126.72501702, 112.66920649,
       103.99716472,  89.86747788,  95.09764353,  82.68900926,
        89.8860772 ,  99.25155557,  92.27546853,  93.40773758,
       111.92996856,  92.43753338,  89.36798836, 106.78692411,
       104.08365509, 104.84078178,  98.9227523 , 111.92261814,
       100.28323713, 123.31437488, 113.15651157,  89.23302963,
       102.78751488,  99.38864068,  88.56244406,  90.03898882,
       100.31963331,  96.68519593, 108.30590562, 110.26175054,
       105.88976533,  96.37916818,  99.55631105,  98.63355907,
       116.17638547,  96.93022958,  99.29685803, 109.8589493 ,
        71.50755054,  97.18902561,  87.53516941, 108.82530137,
       108.15432302,  75.48269681, 111.7662233 , 105.61438987,
       103.74754042,  92.86134491, 102.2473636 ,  98.90069912,
       104.77999046,  92.51972862,  98.73054356,  94.9210524 ,
       105.23678856,  87.20676943, 118.99998333,  80.64151489,
        99.16703651, 107.95547076,  85.64669545, 105.01215718,
       114.33118441, 121.08316586, 106.96707094,  99.23480109,
        96.03917294, 118.40601418,  93.77378308, 107.2902836 ,
        92.41669109, 101.12982015, 104.52254304, 102.41002707,
       110.28713838, 106.60563089, 126.47707621, 102.21336327,
        89.36757474, 114.76102044,  99.16457704,  87.984623  ,
        89.05272279,  91.46493257,  89.01636245,  87.99778563,
        89.21738957, 110.2970892 , 117.1503094 ,  98.09331205,
       102.26834644, 100.82016963,  95.00798558, 108.93515367,
        91.79759187, 105.35572416,  96.57438012, 101.2930191 ,
        94.85690438, 108.19376051, 105.13334581,  89.20523256,
       101.01318946, 100.8259682 , 109.25385911,  97.25896671,
        98.05780684, 111.51201411, 104.70417014, 113.25598882,
        91.0545872 , 110.63444631,  92.1205108 ,  96.53794009,
       109.57185339,  92.15658193, 111.27944122,  97.28913821,
        96.24509489, 114.44627616,  87.20099157,  98.00485833,
        94.05587237, 102.79440149,  98.59563559,  94.07198804,
       102.89786154, 100.50103462, 111.80493531, 117.06200219,
        94.93361585,  98.02596652, 103.86657033, 109.10264476,
        93.95928591, 102.77615842, 109.30912518, 109.76386368,
       102.4513558 ,  98.23863292,  97.61139207,  89.37934336,
        90.32280444,  99.95742036,  80.9519308 ,  95.36009338,
        89.87618534,  87.8597761 , 111.96683745, 120.64551228,
       100.32483925,  94.1609841 , 102.52615482, 104.55338416,
       105.04523489,  95.92246632,  99.19838178, 110.82151534,
        97.67512728, 107.73851364,  98.38555851, 101.78306662,
        75.49552712, 105.22550965,  88.64690213, 110.03401536,
        93.59518361,  95.7365988 ,  98.78138513,  92.77818709,
       103.17528755,  89.57440454,  85.13706257, 102.55132818,
       122.12285716,  92.09500409,  93.52870964, 100.88258126,
        92.40240551,  91.80722489,  89.91967431, 112.64902943,
        98.37654299,  99.1744548 , 104.30602732,  90.7359809 ,
        80.50504074,  85.57441948,  95.74363018, 112.64006558,
        87.73506068, 108.04324037,  99.02659583, 112.2445943 ,
       101.86086321, 100.31470901,  97.32664356, 112.02940518,
       104.08446622, 108.7331363 , 121.53061958,  98.81360674,
        73.85955103,  94.93592162,  94.19720686, 114.28877815,
       115.84558367, 108.92930891,  91.18249445,  89.12727321,
       108.37938602,  87.132973  ,  97.97826353, 106.40354328,
        91.01107917,  99.49307802, 103.93818254, 107.39985298,
       108.30383646, 106.9510748 ,  94.23510376, 104.53349588,
        72.48801702,  93.0973987 ,  97.19323402, 101.9790924 ,
       125.00845654,  93.18632329, 106.79719694,  87.92226001,
        99.07374204, 107.14836086, 109.57156728, 109.43972237,
        90.52856886,  96.53843553,  82.26777199,  89.39433904,
       119.79734737, 103.51875211, 110.15204506,  99.60576683,
       100.53800449,  84.98538773,  96.18923033, 121.22590417,
        98.62051089,  76.6976192 ,  73.43954232,  92.02079557,
       102.48977859,  89.86920684,  97.91825126, 106.02609082,
       101.67792349,  81.87525377,  81.38303008, 105.94922791,
        87.04163979, 108.72677654, 102.78533641,  99.97106401,
        88.98994349, 120.94157021,  97.93641949,  92.53069983,
        95.79291483, 104.55595604, 100.11678832,  96.59531566,
       102.33092815, 101.80447286, 101.98903238,  76.74289788,
        91.87216749, 103.2041158 , 125.32499309,  90.37732996,
        93.26121889,  92.89451403, 102.38384298,  85.07276621,
        95.17923609, 100.26802756,  89.40149692,  85.40034202,
        96.52512119,  97.55084147, 101.52607972,  86.20171488,
        98.68664668, 109.74222658,  93.49327826,  82.99777119,
        90.82944596,  82.15373607, 111.11362807,  93.79209319,
       107.5240877 , 122.7194257 , 115.04044857, 102.36271491,
        81.40856761,  88.26331494,  88.75998764,  93.20787443,
        99.85200466, 114.64094087, 106.30405537, 116.54482659,
        83.77819291, 103.46404215, 106.11069276, 101.66811505,
        72.13921315,  86.83998249,  94.54878928, 110.17726623,
       105.82431971, 115.5828373 , 113.99558265, 108.87215928,
       118.15147081,  81.45988824,  88.64886601,  90.72387553,
        93.37469573, 105.96276802, 101.09573934, 109.01109452,
       102.49417633, 100.50538927, 100.09907892, 106.1606791 ,
       106.36813366, 101.70721299,  95.80578254, 102.58138525,
       106.94068524,  88.73975452, 112.78699789, 102.82920529,
        95.83455405,  97.68857508,  86.30650669,  93.52999851,
        92.44108501,  88.49855356, 127.99091003,  83.71474074,
       118.91075017,  89.86626232, 105.28624502,  93.75699393,
        79.64333033, 103.21468125, 109.39277511,  92.31624889,
       101.45476686, 110.99491282, 118.46361454,  94.45783889,
       104.62550142,  90.42186529,  98.88460144,  97.18898173,
        97.92312319,  92.055797  , 105.96039437,  86.68487083,
        84.76821918,  95.17760672, 114.81901252, 113.87004502,
        94.98151394, 104.94028315, 107.65034309, 112.81142037,
       118.36796495,  90.89799041, 105.02798046, 107.51464115,
       108.85401127,  90.00101346,  99.25119118,  87.64762034,
       106.10049328,  92.42857894, 106.24041994,  91.15233735,
        99.89848649, 100.11034779, 111.76629078,  91.90791208,
       100.70931843, 103.24599931, 103.96300897, 112.94759696,
       120.75788958,  95.99725607,  89.49434258,  95.85863767,
       109.02875698,  97.39952081, 115.84058257, 105.68742478,
        94.93539036, 106.7282647 ,  83.50747474,  94.23208388,
        96.21907475, 113.85060465,  90.19887775,  93.51756233,
       111.52577131,  94.60165643, 109.16172087, 110.81487134,
        85.69525184, 101.73217672, 114.38028622,  89.88258077,
       104.72022004,  96.71665472, 101.34028236, 103.93543295,
       105.70653711,  94.07718225,  96.69113549, 103.02387   ,
       116.99736965, 102.99889205, 106.89255263, 119.92652947,
        96.69029538,  68.84146519,  96.44498069,  96.27846828,
       105.20779246, 119.49082142,  98.85175638, 106.31389751])

In [5]:
np.mean(rand_num)

499.242

Compute the **mean**, **median**, and **mode**

In [ ]:
rand_mean= np.mean(rand_num)
print("mean:", rand_mean)
rand_median = np.median(rand_num)
print("median:", rand_median)
rand_mode = stats.mode(rand_num)
print("mode:", rand_mode)

mean: 499.242
median: 491.0
mode: ModeResult(mode=array([501]), count=array([5]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [ ]:
np.percentile(rand_num, 25)

249.5

In [ ]:
np.percentile(rand_num, 75)

740.0

In [ ]:
np.percentile(rand_num, 75) - np.percentile(rand_num, 25)

490.5

In [ ]:
stats.iqr(rand_num)

490.5

In [ ]:
print("minimum: ", min(rand_num))
print("maximum: ", max(rand_num))

minimum:  2
maximum:  998

In [ ]:
np.var(rand_num)

82747.84343600001

In [ ]:
np.std(rand_num)

287.6592488274973

In [ ]:
from scipy. stats import skew

In [6]:
from scipy. stats import kurtosis

In [ ]:
print(skew(rand_num))

0.00356384763032434

In [7]:
kurtosis(rand_num)

-1.1588433991168958

Compute the **variance** and **standard deviation**

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [ ]:
 x = np.arange(start=10, stop=20)
 x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [ ]:
y = np.array([3,6,4,2,5,9,7,1,7,4])
y

array([3, 6, 4, 2, 5, 9, 7, 1, 7, 4])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [ ]:
from scipy.stats.stats import pearsonr

In [ ]:
stats.pearsonr(x,y)

(0.1476507406862616, 0.6839637131477981)

In [ ]:
np.corrcoef(x,y)

array([[1.        , 0.14765074],
       [0.14765074, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [ ]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [ ]:
r = stats.pearsonr(x,y)
r

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [ ]:
rho = stats.spearmanr(x,y)
rho

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [ ]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [ ]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [ ]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [ ]:


from numpy.random import randn
from numpy.random import seed
from scipy.stats import pearsonr

seed(1)

data1 = 20 * randn(1000) + 100
data2 = data1 + (10 * randn(1000) + 50)

corr, _ = pearsonr(data1, data2)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.888